$mainColour: #48392a;
$mainfont: 'Amatic SC', cursive;
$green: #7ed957;

.checkoutContainer {
  font-family: $mainfont;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 0 20px;

  .headerSection {
    text-align: center;
    margin-bottom: 15px;
    flex-shrink: 0; 
    h1 {
      font-size: 2.5rem;
      color: $mainColour; 
      margin-bottom: 0px;
      @media (max-width: 768px) {
      font-size: 1.5rem;
      }
    }
    p {
      font-size: 1.1rem;
      color: #666;
      @media (max-width: 768px) {
      font-size: 0.5rem;
      }
    }
  }

  .emptyCart {
    text-align: center;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    .emptyCarticon {
      height: 250px;
      width: 250px;
    }
    .backBtn {
      font-family: $mainfont;
      margin-top: 20px;
      background-color: $mainColour;
      color: white;
      border: none;
      padding: 12px 30px;
      border-radius: 25px;
      font-size: 1rem;
      font-weight: bold;
      
      cursor: pointer;
      transition: background 0.2s;
      
      &:hover {
        background-color: #491e11;
      }
    }
  }

  .checkoutGrid {
    padding: 15px;
    width: 100%;
    border-radius: 12px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 60% 38.5%; 
    justify-content: center;
    flex-grow: 1;
    margin-bottom: 15px;
    height: auto;
    justify-content: space-between;

    @media (max-width: 768px) {
      display:flex ;
      flex-direction: column;
      overflow-y: auto; 
      height: auto;
      padding: 0px;
    }
  }

  .formSection, .summarySection {
    background: #faf7f2; 
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: 0; 

    @media (max-width: 768px) {
      padding: 5px 15px;
      margin-bottom: 10px;

      }
      
  
    h2 {
      font-size: 2rem;
      margin-bottom: 20px;
      border-bottom: 2px solid #e0dcd5;
      padding-bottom: 10px;
      color: $mainColour;
      flex-shrink: 0;

      @media (max-width: 768px) {
      font-size: 1.2rem;
      margin-bottom: 0px;
      padding-top: 0px;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
      min-height: 0;
      .submitBtn {
        font-family: $mainfont;
        width: 100%;
        background-color: $mainColour;
        color: white;
        border: none;
        padding: 15px;
        border-radius: 8px;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;

        margin-top: auto; 
        flex-shrink: 0;
        transition: opacity 0.2s;

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }
      }
      .radioGroupContainer{
        
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 30px;
        width: 100%;
        .paymentLabel {
          display: flex;
          align-items: center;
          gap: 15px;
          padding: 15px;
          border: 1px solid #ccc;
          border-radius: 8px;
          cursor: pointer;
          background: #ffffff;
          transition: all 0.2s ease-in-out;

          &:hover {
            border-color: #b3b3b3;
            background: #fafafa;
          }
        }
        .activeOption {
          border: 2px solid #0ac973;
          background: #fff5f2;

          &:hover {
            background: #fff5f2; 
          }
        }
      }
      .radioInput {
        accent-color: $mainColour;
        transform: scale(1.2);
        cursor: pointer;
        flex-shrink: 0;
      }
      .labelTextWrapper {
        display: flex;
        flex-direction: column;
        font-family: sans-serif;
        font-family: $mainfont;
      }
      .optionTitle {
        display: block;
        font-size: 1.2rem;
        color: #2d1b18;
        margin-bottom: 2px;
        @media (max-width: 768px) {
        font-size: 1rem;
        }
      }
      .optionDescription {
        color: #666;
        font-size: 0.8rem;
        line-height: 1.3;
        @media (max-width: 768px) {
        font-size: 0.6rem;
        }
      } 
    }
  }
  .itemsList {
    flex-grow: 1;
    overflow-y: auto; 
    margin-bottom: 15px;
    padding-right: 8px;
    @media (max-width: 768px) {
      padding-top: 5px;
      }

    .cartItemRow {
      display: flex;
      align-items: flex-start;
      gap: 10px;
      padding: 12px 0;
      border-bottom: 1px solid #e0dcd5;

      &:first-child {
        padding-top: 0;
      }
      .itemImage {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 6px;
        @media (max-width: 768px) {
            width: 80px;
            height: 90px;
          }
      }
      .itemInfo {
        flex-grow: 1;
        
        h3 {
          font-size: 2rem;
          margin:0 0 4px 0;
          @media (max-width: 768px) {
            font-size: 1rem;
          }
        }
        .itemPrice {
          font-size: 1.5rem;
          color: $green;
          margin-bottom: 8px;
          @media (max-width: 768px) {
            font-size: 0.9rem;
          }
        }
        .quantityControls {
          display: flex;
          align-items: center;
          gap: 12px;
          @media (max-width: 768px) {
            gap: 10px;
          }
          .itemCount{
            font-size: 20px;
            @media (max-width: 768px) {
              font-size: 15px;            
          }
          }

          button {
            background: #e0dcd5;
            border: none;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            font-weight: bold;
            cursor: pointer;
            @media (max-width: 768px) {
            width: 25px;
            height: 25px;
          }
          }
        }
        
      }
    } 
      
  }
  .totalRow {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 15px;
    border-top: 2px dashed #ccc;
    font-size: 1.3rem;
    font-weight: bold;
    
    flex-shrink: 0; 

    .totalPrice {
      color: $green;
    }
    span{
      @media (max-width: 768px) {
            font-size: 1.1rem;
          }
      
    }
  } 
  .itemRightSide {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;

    .subtotal {
      font-weight: bold;
    }

    .deleteBtn {
      background-color: red;
      border: none;
      color: #ffffff;
      cursor: pointer;
      font-size: 0.9rem;
      padding: 5px 10px;
      border-radius: 5px;
      font-weight: bold;

      &:hover {
        background-color: rgb(225, 0, 0);
      }
    }
  }
}