.layoutWrapper {
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
}

.layoutBody {
  display: flex;
  flex: 1; 
  overflow: hidden; 

  .sidebarSection {
    width: 260px;
    background-color: #a62525;
    border-right: 1px solid #ddd;
    overflow-y: auto; 
  }

  .mainContent {
    flex: 1;
    overflow-y: auto; 
    background-color: #02d453;
    padding: 2rem;
    
    .container {
      max-width: 1200px;
      margin: 0 auto;
    }
  }
}