$mainColour: #48392a;
$mainfont: 'Amatic SC', cursive;
$green: #7ed957;


.dashboardContainer{
  font-family: $mainfont;
  color: $mainColour;
  .dashHeader{
    background-color: #7ed957;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    padding: 0px 10px;
  }

}