$font-header: 'Amatic SC', cursive;

.footer{
    height: 400px;
    background-color: #48392a;
    margin-top: 10px;
    border-radius: 10px 10px 0px 0px;
    display: flex;
    flex-direction: row;
    div{
        flex: 1;   
        font-family: $font-header;       
    }
    .leftdiv{
        background-color: #48392a;
        border-radius: 10px 0px 0px 0px;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            width: 30%;
        }
        h5{
            text-align: justify;
            padding-left: 15px;
            padding-right: 15px;

        }
        .logs{
            display: flex;
            flex-direction: row;
            gap: 40px;
        }
        .imglogo{
            width: 25px;
            height: 25px;
            &:hover{
                cursor: pointer;
                transform: scale(1.2);
            }
            
        }
    }
    .middlleftediv{
        background-color: #48392a;
    }
    .middlrightediv{
        background-color: red;
    }
    .rightdiv{
        background-color: #48392a;
        border-radius: 0px 10px 0px 0px;
    }
}