$bg-color: #48392a;
$text-color:  #f0e9e9;
$hover-color: #a01c26;
$font-nav: 'Lucida Handwriting', cursive;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 1%;
  background-color: $bg-color;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: nowrap; 

  .logo {
    font-size: 1.5rem;
    font-weight: 700;
    cursor: pointer;
    height: 100px;
    width: 100px;
    transition: all 0.3s ease;
    padding-left: 50px;
  }
  
  .profile {
    cursor: pointer;
    height: 50px;
    width: 50px;
    transition: all 0.3s ease;
    padding-right: 50px;
  }

  .navLinks {
    display: flex;
    gap: 2rem;

    a {
      font-family: $font-nav;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      color: $text-color;
      font-weight: bold;
      font-size: 1rem;
      transition: color 0.2s ease-in-out;

      &:hover {
        color: $hover-color;
      }
    }
  }


  @media (max-width: 768px) {
    .logo {
      height: 50px;
      width: 50px;
    }
    .profile {
      height: 25px; 
      width: 25px;
    }
    .navLinks {
      gap: 1rem; 
      a {
        font-size: 0.5rem;
      }
    }
  }


}