$font-header: 'Amatic SC', cursive;

.whole{
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}
.leftside{
    width: 40%;
    height: 600px;
    background-color: #7fffd4;
    border-radius: 20px 0 0 20px; 
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    padding: 60px;
    img{
        width: 100%;
    }
}
.rightside{
    width: 40%;
  height: 600px;
  background-color: #ffffff;
  border-radius: 0 20px 20px 0;
  padding: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
  select{
    width: 20%;
    padding: 10px 15px;
    border-radius: 10px;
    font-size: 15px;
    border: 1.5px solid #eee;
    margin-bottom: 10px;
    font-family: $font-header;
    cursor: pointer;
    &:focus {
      border-color: #4facfe;
      box-shadow: 0 0 8px rgba(79, 172, 254, 0.2);
    }
  }
    input {
      width: 100%;
      padding: 12px 15px;
      border: 1.5px solid #eee;
      margin-bottom: 10px;
      border-radius: 8px;
      font-size: 16px;
      outline: none;
      transition: all 0.3s ease;
      font-family:$font-header;

      &:focus {
        border-color: #4facfe;
        box-shadow: 0 0 8px rgba(79, 172, 254, 0.2);
      }
    }
    h2{
        font-family: $font-header;
        font-size: 3rem;
        color: #333;
        font-weight: bolder;
    }
    p{
        font-family: $font-header;
    }
    label{
        font-family: $font-header;
    }
    button{
        width: 100%;
      padding: 14px;
      background-color: #4facfe;
      color: white;
      border: none;
      border-radius: 8px;
      font-size: 16px;
      font-family:$font-header;
      font-weight: bold;
      cursor: pointer;
      transition: background 0.3s ease;
      margin-top: 10px;
      &:hover:not(:disabled) {
        background-color: #0089ff;
      }
      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }  
     .links {
    margin-top: 20px;
    text-align: center;
    font-family:$font-header;
    p {
      font-size: 10px;
      color: #666;
      margin: 5px 0;
      font-size: 20px;
    }
    a {
      color: #4facfe;
      text-decoration: none;
      font-weight: 600;
      &:hover { text-decoration: underline; }
    }
    select{
      padding: 12px 15px;
     
    border-color: red;
  }
  }   
   
  
}